<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>
<form action="addCustomerResponse" method="post">
  <label for="fullname">Full name:</label><br>
  <input type="text" id="fullname" name="fullname" value=""><br>
  <label for="ssn">Social security number:</label><br>
  <input type="text" id="ssn" name="ssn" value=""><br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>